<div class="container-fluid py-2 border-bottom d-none d-lg-block topp">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center">
          <p class="text-decoration-none text-body pe-3 data"><i class="bi bi-telephone me-2"></i>+91 xx xxxx xx |</p>
          <p class="text-decoration-none text-body px-3 data"><i class="bi bi-envelope me-2"></i>hcfoundationsgs&commat;gmail.com</p>
        </div>
      </div>
      <div class="col-md-6 text-center text-lg-end">
        <div class="d-inline-flex align-items-center">
          <a class="text-body px-2" href="/">
            <i class='bx bxl-twitter'></i>
          </a>
          <a class="text-body px-2" href="/">
            <i class='bx bxl-linkedin'></i>
          </a>
          <a class="text-body px-2" href="">
            <i class='bx bxl-instagram'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-center text-lg-start" href="/">
      <img src="assets/2345.png" height="60px" width="230px">
    </a>

    <div class="d-none d-lg-flex justify-content-center flex-grow-1">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <a class="btn-donate d-none d-lg-block" href="/sign-in">
      Donate
    </a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/appointment">Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sign-in">Donation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<hr>
