<div class="container-fluid py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5" style="max-width: 500px;">
        <h5 class="d-inline-block text-uppercase border-bottom border-5 heading">Services</h5>
        <h1 class="display-4">Excellent Medical Services</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-md-6" *ngFor="let service of services">
          <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center icon-css">
            <div class="service-icon mb-4">
              <i [class]="service.iconClass"></i>
            </div>
            <h4 class="mb-3 text-css">{{ service.title }}</h4>
            <p class="m-0 text-css">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  