<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded doctors" src="assets/good.jpg"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-colour text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                </div>
                <p>Our mission is to ensure everyone has access to essential healthcare services. At HealthCare Foundations, we offer a seamless platform 
                    for discovering nearby hospitals, checking availability, and booking appointments. Your support matters - join us in improving 
                    healthcare accessibility through easy donations. Empower communities and make a difference today.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md icon-colour mb-3"></i>
                            <h6 class="mb-0 text-colour">Qualified<small class="d-block text-colour">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures icon-colour mb-3"></i>
                            <h6 class="mb-0 text-colour">Emergency<small class="d-block text-colour">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope icon-colour mb-3"></i>
                            <h6 class="mb-0 text-colour">Accurate<small class="d-block text-colour">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance icon-colour mb-3"></i>
                            <h6 class="mb-0 text-colour">Free<small class="d-block text-colour">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>