.hero-header {
    background-image: url(C:/dev/Donation-Website/src/assets/Operationnn.jpg);
    background-size: cover;
    background-position: center;
}

.welcome {
    color: aliceblue;
    font-size: 24px;
}